{% extends "base.html" %}

{% block placeholders %}
<div class="bk-root" id="398f0a3d-51fc-4aff-9df6-e569ebbc486e"></div>
{% endblock %}

{% block data %}
<script type="application/json" id="{{ placeholder_id }}">
    {{ plot_data }}
</script>
{% endblock %}

{% block impl %}
<script type="text/javascript">
    (function() {
        var fn = function() {
            Bokeh.safely(function() {
                (function(root) {
                    function embed_document(root) {

                        var docs_json = document.getElementById('{{ placeholder_id }}').textContent;
                        var render_items = [{"docid":"{{ doc_id }}","roots":{"{{ plot_id }}":"{{ plot_guid }}"}}];
                        root.Bokeh.embed.embed_items(docs_json, render_items);

                    }
                    if (root.Bokeh !== undefined) {
                        embed_document(root);
                    } else {
                        var attempts = 0;
                        var timer = setInterval(function(root) {
                            if (root.Bokeh !== undefined) {
                                embed_document(root);
                                clearInterval(timer);
                            }
                            attempts++;
                            if (attempts > 100) {
                                console.log("Bokeh: ERROR: Unable to run BokehJS code because BokehJS library is missing");
                                clearInterval(timer);
                            }
                        }, 10, root)
                    }
                })(window);
            });
        };
        if (document.readyState != "loading") fn();
        else document.addEventListener("DOMContentLoaded", fn);
    })();
</script>
{% endblock %}
